.TeamTile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    text-align: center;
    border: 3px solid white;
    padding: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    .TeamTile {
        height: 110px;
        text-align: center;
        padding: 15px;
    }
    h1 {
        font-size: 2rem;
    }
}
